.searchBody{
    background: url(public/pictures/backgroundSearcPage.PNG) no-repeat fixed center center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.image {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 12px;
}

.control:hover{
    background-color: #F9D949;
}
.NotRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 376px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 16px;
    border: none;
    background-color: white;
}
.NotImage {
    width: 60px;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;

}
._NotRow_goqe2_65{
    background-color: white;
    border: none !important;
}