.containerWelcomeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .contentContainerWelcomeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -250px;
  }
  
  .welcomeTextWelcomeBox {
    font-family: monospace;
    font-size: 35px;
  }
  
  .tunedImageWelcomeBox {
    width: 500px;
    transition: transform 0.3s;
  }
  
  .tunedImageWelcomeBox:hover {
    transform: scale(1.2);
  }
  .welcomeTextWelcomeBox:hover{
    color: #F45050;
  }